@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.container {
  background-color: rgb(248, 249, 255);
}
.container .header {
  display: flex;
  justify-content: space-around;
}
.container .header .text {
  font-size: 3rem;
  font-weight: bold;
  font-family: "Italianno", cursive;
  color: palevioletred;
  max-width: 350px;
  text-align: center;
}
.container .header .menu {
  margin-top: 1rem;
}
.container .header .menu ul {
  list-style-type: none;
}
.container .header .menu ul li {
  display: inline-block;
  margin: 0.5rem;
}
.container .header .menu ul li a {
  text-decoration: none;
  color: black;
  display: block;
  font-weight: bold;
  font-size: 1.3rem;
  color: blueviolet;
  transition: 1s;
}
.container .header .menu ul li a:hover {
  background-color: palevioletred;
  background: linear-gradient(palevioletred, blueviolet);
  border: 2px solid rgba(128, 128, 128, 0.192);
  padding: 1rem 2rem;
  color: white;
}
.container .content-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 8rem;
}
.container .content-container .content {
  text-align: center;
}
.container .content-container .content .text-content {
  font-size: 2rem;
  font-weight: 600;
}
.container .content-container .content .name {
  font-size: 3rem;
  font-weight: 600;
  font-family: "Italianno", cursive;
  margin: 1.5rem 0;
  color: brown;
}
.container .content-container .content .btn button {
  padding: 0.8rem 3rem;
  border-radius: 4px;
  border: none;
  margin: 1rem;
  background-color: palevioletred;
  background: linear-gradient(palevioletred, blueviolet);
  font-size: 1rem;
  font-weight: bold;
}
.container .content-container .image img {
  width: 600px;
}
.container .skill-container {
  background-color: rgb(248, 249, 255);
  min-height: 400px;
}
.container .skill-container .skill-text {
  margin: 0 auto;
  max-width: 890px;
}
.container .skill-container .skill-text .skills {
  font-size: 3rem;
  text-align: center;
  font-size: 700;
}
.container .skill-container .skill-text .skill {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
}
.container .skill-container .skill-text .skill .box {
  background-color: rgba(43, 198, 226, 0.5);
  width: 30%;
  height: 150px;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 4px 4px 8px rgba(219, 52, 183, 0.4);
}
.container .skill-container .skill-text .skill .box .text {
  display: flex;
  font-size: 1.2rem;
  font-weight: 600;
  align-items: center;
  margin: 1.5rem;
}
.container .skill-container .skill-text .skill .box .text img {
  width: 100px;
  height: 50px;
}
.container .skill-container .skill-text .skill .box .text p {
  margin-left: 1rem;
}
.container .skill-container .skill-text .skill .box .progress-container {
  width: 80%;
  background-color: white;
  border-radius: 8px;
  height: 16px;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
}
.container .skill-container .skill-text .skill .box .progress-container .progress-bar {
  height: 100%;
  background-color: blueviolet;
  background: linear-gradient(to right, blueviolet, pink);
  width: 70%;
}
.container .skill-container .skill-text .skill .css .image img,
.container .skill-container .skill-text .skill .scss .image img,
.container .skill-container .skill-text .skill .bootstrap .image img {
  width: 50px;
  height: 50px;
}
.container .skill-container .skill-text .skill .css {
  transform: translateY(120px);
}
.container .skill-container .skill-text .skill .javascript .progress-container .progress-bar {
  height: 100%;
  width: 50%;
}
.container .skill-container .skill-text .skill .scss .progress-container .progress-bar {
  width: 55%;
}
.container .skill-container .skill-text .skill .bootstrap .progress-container .progress-bar {
  width: 20%;
}
.container .personal-container {
  margin-top: 5rem;
}/*# sourceMappingURL=style.css.map */